#svg_begin($width $height)

<g>

#set( $textureId = "texture" )
#set( $patternTransformLeft = 0 ) 

#draw($s)


## texture
<rect x="0" y="0"  width="$width" height="$height" fill="url(#$textureId)" />

</g>


#svg_end()
