<defs>

	#checkNotNull( $gradientId "gradientId" )

	<linearGradient id="$gradientId" x1="0" y1="0%" x2="0" y2="100%">

		<stop stop-color="#brighter($s.color $s.gradient)" offset="0%" />   
		<stop stop-color="#darker($s.color $s.gradient)" offset="100%" />

	</linearGradient>


</defs>


