@font-face {
	font-family: 'dt-glyph-icon';
	src:url('fonts/dt-glyph-icon.eot?7mu3hp');
	src:url('fonts/dt-glyph-icon.eot?7mu3hp#iefix') format('embedded-opentype'),
		url('fonts/dt-glyph-icon.ttf?7mu3hp') format('truetype'),
		url('fonts/dt-glyph-icon.woff?7mu3hp') format('woff'),
		url('fonts/dt-glyph-icon.svg?7mu3hp#dt-glyph-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dt-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-size:1.4em;
	font-family: 'dt-glyph-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dt-shadow:before {
	content: "\e900";
}
.dt-opacity:before {
	content: "\e901";
}
.dt-background:before {
	content: "\e902";
}
.dt-layers:before {
	content: "\e903";
}
.dt-padding:before {
	content: "\e904";
}
.dt-margin-top:before {
	content: "\e905";
}
.dt-hide:before {
	content: "\e906";
}
.dt-radius:before {
	content: "\e907";
}
.dt-texture:before {
	content: "\e908";
}
.dt-box:before {
	content: "\e909";
}
.dt-pattern:before {
	content: "\e90a";
}
.dt-back:before {
	content: "\e600";
}
.dt-front:before {
	content: "\e601";
}

