<?xml version="1.0" encoding="UTF-8"?>


<set extends="pattern-abstract-patterrific" >

	<string name="image" value="abstract-patterrific/pngs/$fileName" editable="false" enable="true" free="true" />	
		
	<size name="width" value="$width" />
	
	<size name="height" value="$height" />
	
</set>
