

@media screen and (max-width: 1024px){
	/* header fg image */ 	
	#vbid-9e34083b-bifcawxf.draggable-pic {
		display:none;
	}

	/* header title */ 
	.style-9e34083b-o5zaktpk #vbid-9e34083b-0bhyh8jf .preview-content-holder {
		text-align:center;
		width:100%;
		margin:0 auto;
	}


}
