#checkNotNull( $gradientId "gradientId" )

<defs>

	#set ( $brighter = "#brighter($s.color $s.gradient)" )

	<linearGradient id="$gradientId" x1="0" y1="0%" x2="0" y2="100%">
		
		<stop stop-color="$brighter" offset="0%" />   
		<stop stop-color="#darker($s.color $s.gradient)" offset="50%" />   
		<stop stop-color="$brighter" offset="100%" />

	</linearGradient>


</defs>
