/* https://bootswatch.com/slate */

.bootstrap-fix {
	padding-right:0 !important;
}

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
  padding-right:0 !important;
  z-index:500 !important;
}

body, body.modal {
    margin-right: 0 !important;
    padding-right:0 !important;
}

body.modal {
    overflow-y: hidden;
}

.modal-header {
    min-height:40px;
}

.modal-backdrop {
	background-color:transparent;
	z-index:200 !important;
}


.container > .row,
.container-fluid > .row {
	width:100% ;
	margin-left:-15px; 
	margin-right:-15px;
}

.dt-control-panel > .row {
	margin-left: 0; 
	margin-right: 0;
}

.dt-control-panel > .row > .col-xs-12, 
.dt-control-panel > .row >  .col-sm-12,
.dt-control-panel > .row >  .col-md-12,
.dt-control-panel > .row >  .col-lg1-12 {
	margin:0;
	padding-left:5px;
	padding-right:5px;	
}



.dt-property-set-editor-control {
	clear:both;
	padding:0;
}

.dt-property-set-editor-control .form-control {
	height:auto;
}


.dt-property-set-editor-control.active {
	background-color:transparent;
}


.dt-property-set-editor-control .dt-property-set-editor-control,
.textStyleEditor .dt-property-set-editor-control {
	padding:0px;	
}



.dt-property-set-editor-control > strong {
	line-height:40px;	
}

.dt-property-editor-control {
	overflow:visible !important;
	width:100%;
	height:40px;
}

.dt-property-editor-color-icon {
	width:24px;
	height:24px;
	border-radius:50%;
	border:2px solid rgba(255,255,255,0.5)
}


.dt-size-listBox,
.dt-color-picker-input {
	border-color:#333;
	width:80px !important;
}

.form-control.dt-size-listBox {
	background-color:white;
	background-image:none;
	box-sahdow:none;	
}

.dt-property-editor-label,
.dt-size-listBox .btn, 
.dt-size-listBox .dropdown-menu,
.dt-color-picker-input {
	padding:3px;
	font-size:13px;
}

.dt-property-editor-label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dt-color-picker-input,
.dt-size-listBox .btn {
	height:auto;
	text-align:center;
}

.dt-property-set-editor-control .btn-primary,
.dt-mutable-property-button {
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	min-width:80px; 
	padding:3px;
	height:auto;
	text-align:center;
	font-size:12px; 
	background-color:#62c462; 
	background-image: -webkit-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -o-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#78cc78), color-stop(60%, #62c462), to(#53be53));
    background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78cc78', endColorstr='#ff53be53', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

.dt-property-set-editor-control .btn-primary:hover,
.dt-mutable-property-button:hover {
	background-color:#62c462;
	background-image:none;
}


.textStyleEditor {
	margin-top:20px;
}


.ui-resizable-w {
    left: -7px !important;
    width: 14px !important;
}

.ui-resizable-s {
    bottom: -7px !important;
    height: 14px !important;
}

.ui-resizable-e {
    right: -7px !important;
    width: 14px !important;
}

.ui-resizable-n {
    height: 14px !important;
    top: -7px !important;
}

.ez-layer {
	position:absolute !important;
	margin:0;
	cursor:move;
	padding:0 ;
	background:transparent ;
}

.ez-layer:focus {
	outline: none;
}


.ez-layer img {
  -moz-background-clip: border;  
  -webkit-background-clip: border;  
  background-clip: border-box;      
				
  -moz-background-clip: padding;    
  -webkit-background-clip: padding; 
  background-clip: padding-box;     
				
  -moz-background-clip: content;    
  -webkit-background-clip: content; 
  background-clip: content-box;
       
  border:1px solid rgba(0,0,0,0.0) ;	
  height:auto;
}


.ez-layer.selected  img{
	border:1px solid orange ;
}

