#checkNotNull( $w "w" )
#checkNotNull( $h "h" )
#checkNotNull( $fill "fill" )

#set ( $pattern = $fill.pattern )

<g>

	#set ( $id = $_.id() ) 
	#set ( $patternId = "pattern_$id" )
	
	#set( $patternTransformLeft = 0 )
	
	#draw( $fill )
	
	<!-- bg color and pattern on top -->
	<rect x="0" y="0"  width="$w" height="$h" fill="$fill.color" />
	<rect x="0" y="0"  width="$w" height="$h" fill="url(#$patternId)" mask="url(#fadeMask_$patternId)" />

</g>

