#checkNotNull( $patternId "patternId" )
#checkNotNull( $patternTransformLeft "patternTransformLeft" )

<defs>

	<filter id='colorize_$patternId' filterUnits='userSpaceOnUse' x='0' y='0' width='100%' height='100%'>
		<feFlood flood-color="$s.color" flood-opacity='1.0' result='color_$patternId'/>
		<feComposite in='SourceGraphic' in2='color_$patternId' operator="arithmetic" k1="0" k2="1" k3="1" k4="0"/>
	</filter>

	

	<pattern
		id="$patternId"
		patternUnits="userSpaceOnUse" 
		x="0" 
		y="0"
		patternTransform="translate( $patternTransformLeft 0 )"
		width="$s.pattern.width" 
		height="$s.pattern.height">
		
			#set ( $patternUrl = $Helper.realPath( "WEB-INF/templates/_symbols/pattern/$s.pattern.image" ) )

			<image 
				x="0" 
				y="0" 
				width="$s.pattern.width"
				height="$s.pattern.height"
				xlink:href="file:$patternUrl" 
				opacity="$s.pattern.opacity"
				filter="url(#colorize_$patternId)"
			/>

	</pattern>

</defs>
