html { font-family: Abel,sans-serif; }
body { margin: 0px}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
b, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 3em 0px 1em 0; }
img { max-width: 100%; margin:30px 0 50px 0;border: 0px none;box-shadow:0 0 10px #AAA; }
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(https://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.article-column {
	width:940px;
	margin:0px auto;
}

ol,ul {
    list-style:none;
    padding-left:0;
}​

li {
    list-style-type: none;
}

p, li {
	font-size: 18px;
}