body, p { font-family:Calibri,Arial,Helvetica,sans-serif;color:#15428B;font-size:14px;}
a:link, a:visited {text-decoration:none;font-weight:bold}
h1,h2,h3 {color:#2790B0;}	
h1 {font-size:4em;}
h2 {font-size:3em;}
h3 {font-size:2em;}

#wrapper {position: absolute;top: 50%;margin-top: -200px;left: 0; width: 100%;text-align:center;}
#centered {width: 800px;margin-left: auto;margin-right: auto;height: 400px;line-height:2em;}	
#error {width:500px;margin:0 auto;font-size:1.1em;}
#error, #error a:link{
	color:#DD0000;
}
