#dtControlPanel {
	font-family:Helvetica,Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#444;
	text-align:center;
	padding:1px;
}

#dtControlPanel img, #dtControlPanel .gwt-HTML {
	margin: 0 auto;
}

#dtControlPanel .gwt-HTML {
	margin-top: 3px;
}

#dtControlPanel img {
	margin-top: 10px;
	cursor:pointer;
}

